<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>hsj</display-name>
  <welcome-file-list>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  
  <!-- email이 전역자원이됨 (전역자원 : webcontent안에 있는 모든 페이지가 사용가능한 자원 -->
  <context-param>
  	<description>아무거나 써도됨</description>
  	<param-name>email</param-name>
  	<param-value>webmaster@bit.or.kr</param-value>
  </context-param>
  
  <context-param>
  	<description>기본 파일 저장 경로</description>
  	<param-name>FilePath</param-name>
  	<param-value>C:\\Web\\Download</param-value>
  </context-param>
  
  <!-- 
  		Webapp 전체 페이지에 적용될 수 있는 Error페이지 처리
  		
  		기준
  		1. 상태 코드에 따라서(500 서버 코드문제 발생, 404 요청페이지가 없는것, 403 접근 권한)
  			ㄴ 
  		
  		
  		2. 예외 객체에 따라서(세분화) : NullPoint, IndexOutBound...
   -->
   
  	<!-- <error-page>
  		<error-code>404</error-code>
  		<location>/error/error404.jsp</location>
  	</error-page>
  	
  	<error-page>
  		<error-code>500</error-code>
  		<location>/error/error500.jsp</location>
  	</error-page> -->
</web-app>